body {
  background-image: url("cheap_diagonal_fabric/cheap_diagonal_fabric.png")
}

header {
  font-size: 25px;
  text-align: center;
  border-bottom: solid;
  margin-bottom: 5px;
}

header nav {
  background: grey;
  width: 100%;
  height: 50px;
  padding-bottom: 20px;
  top: 0;
  padding-top: 20px;
}

nav ul li {
  display: inline-block;
  font-size: 20px;

}

section {
  float: left;
  width: 15%;
  
}

figure {margin-bottom: 10px;}

ul {
  list-style-type: none;
}

section ul li {
  font-size: 100%;
  display: block;
}

section ul li:nth-child(1) {
  font: 150% arial bold; 
}

a {
  color: green;
}

a:hover {
  color: red;
}

.full {
 float: left;
 width: 80%;
 margin-right: 2%;
}

article {clear:both;}

.bear {float: left;
margin-right: 10px;}
.blog {float: left;
  width: 50%;
}

h3 {
  margin-bottom: 1px;
  font: 150% bold;
}
.date.author {
  font: 80%;
}
footer {
 
  clear: both;
  bottom: 0;
  height: 15px;
  width: 100%;
  background: black;
  color: white;
}

